extends ../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Pagina inicial de Boilerplate'
  -pageImage = 'https://cdn.auth0.com/blog/optimizing-react/logo.png'

block main
  include ../includes/main-menu
  include:markdown-it(html) md/bienvenidos.md
